body {
 background-image: url("./components/old_table_background.jpg");

 background-color: black;
 background-position: top;
 background-repeat: no-repeat;
 height: 100%;
 width: 100%;
}

ul {
 text-align: center;
 font-size: 25px;
 list-style-type: none;
}

#character {
 background-image: url("./components/scroll.png");
 background-position: top;
 background-repeat: no-repeat;
 -webkit-background-size: 70%;
 -moz-background-size: 70%;
 -o-background-size: 70%;
 background-size: 100%;
 height: 200vh;
 width: 70%;
 position: relative;
 font-size: 20px;
 margin: 0 auto;
}

#characterButton {
 position: relative;
 top: 200px;
 bottom: 0px;
 right: 0;
 left: -200px;
 height: 25px;
 padding-bottom: 35px;

}

#statBonus {
 clear: left;
 float: left;
 text-align: center;
 margin-left: 6%;
 position: relative;
}

.stats {
 border-style: double;
 border-width: medium;
 border-color: black;
 width: 90px;
 padding: 10px;
 margin: 5px;
}
#title {
 border-style: none;
 position: relative;
 text-align: center;
 padding: 1px;
 float: center;

}
#equipment{
 float: right;
 clear: right;
 margin-right: 6%;
 text-align: left;
 border: 5px solid black;
 padding: 25px;
 overflow: hidden;
 height: 150px;
 width: 800px;
}

#langProf {
 float: right;
 text-align: left;
 border: 5px solid black;
 padding: 25px;
 width: 800px;
 margin-right: 6%;
 clear: right;
}

#statButton {
 position: absolute;
 top: 700px;
 bottom: 0px;
 right: 0;
 left: 283px;
 height: 25px;
}

#saveThrows{
 float: left;
 text-align: left;
 border: 1px solid black;
 padding: 4px;
 margin-left: 10%;
 width: 100px;












}
#container {
  width: 100%;
  font-family: 'Tangerine', cursive;
  position: absolute;
}
